body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header, nav, main, aside, footer {
    padding: 20px;
}

header {
    background-color: #048ABF;
    color: #fff;
    text-decoration: none;
    top: 20px;
    height: 1;
    background-image: url('https://student.cnsa.hs.kr/theme/blue/stw/images/common/bg_headerWrap.png');
    background-size: cover;
    background-position: 47% top;
}

.right-img {
    transform: translateX(966px);
    position: absolute;
    width: 150px;
    height: auto;
    top: 0px;
}

a {
    padding: 0 .3em;
    transition: all .3s;
}

.submenu a:hover {
    color: #fff;
    background-color: #d9d9d9;
}

nav {
    background-color: #ffffff;
    height: 38px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}


nav li {
    margin: 0 50px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #424242;
    font-weight: bold;
    margin: 0 0px;
    list-style: none;
    border-radius: 5px;
}

.hover-text {
    margin-top: 10px;
    transition: color 0.3s;
}

.hover-text:hover {
    color: #048ABF;
}

.dropdown {
    position: relative;
}

.submenu li {
    margin: 5px 0;
}

hr {
    margin: 10px 0;
    border-top: 0px solid #000000;
    height: 10px;
}

.nav-divider {
    width: 100%;
    height: 2.5px;
    background-color: #0F468C;
    margin: 0;
}

.container {
    display: flex;
}

main {
    flex: 2;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main.loaded {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInParagraphs {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main h2 {
    animation: fadeInUp 1s ease forwards;
}

main.loaded h3 {
    opacity: 0;
    animation: fadeInParagraphs 1s ease forwards;
    animation-delay: 0.55s;
}

main.loaded p {
    opacity: 0;
    animation: fadeInParagraphs 1s ease forwards;
    animation-delay: 0.55s;
}

main.loaded h4 {
    opacity: 0;
    animation: fadeInParagraphs 1s ease forwards;
    animation-delay: 0.55s;
}

main h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

h2::before {
    content: "|";
    margin-right: 7px;
    color: #0F468C;
    font-size: 40px;
    position: relative;
    top: -2px; 
}

main p {
    font-size: 22px;
    line-height: 1.6;
    color: #2a2a2a;
    margin-bottom: 5px;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 70%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fbfbfb;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    text-align: justify;
    line-height: 1.6;
    text-align: center;
}

.content h3 {
    color: #0a2951;
    font-size: 2rem;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 15px;
}

main h4 {
    color: #6f6f6f
}

.content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main.loaded .content {
    opacity: 0;
    animation: fadeInParagraphs 1s ease forwards;
    animation-delay: 0.55s;
}

main hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px auto;
    width: 50%;
}

@media screen and (max-width: 781px) {
    main h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    main p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    main hr {
        margin: 15px auto;
        width: 70%;
    }
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #9f9f9f;
    padding: 10px;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(229, 229, 229, 1);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px; /* 푸터의 위쪽 여백 */
}

footer image {
    max-height: 80px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 0%;
}

footer p {
    margin: 0;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    aside {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    header {
        position: relative;
        padding-right: 0; /* 우측 패딩 제거 */
        margin-right: 0; /* 우측 마진 제거 */
        z-index: 101;
        top: 0;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    main h2 {
        font-size: 34px;
    }
}

/* 모바일 화면에서 푸터 스타일링 */
@media screen and (max-width: 768px) {
    footer {
        width: 100%;
        padding: 10px 0;
        margin: 0; /* 오른쪽 마진을 0으로 설정 */
        position: static; /* 기본 플로우에 따라 배치 */
        font-size: 10px;
        padding-right: 0; /* 우측 패딩 제거 */
        margin-right: 0; /* 우측 마진 제거 */
    }

    footer image {
        width: 76.5px;
        height: 20px;
        margin-right: 10px;
        margin-left: 0px;
    }
}

/* 모바일 화면에서 .right-img 스타일 수정 */
@media screen and (max-width: 768px) {
    .right-img {
    display: none;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav li {
        margin: 10px 0; /* 여백 추가 */
    }
}

/* 푸터 스타일 수정 */
footer {
    text-align: center;
    background-color: #333;
    color: #9f9f9f;
    padding: 10px;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(229, 229, 229, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    max-height: 80px;
    margin-right: 10px;
}

/* 모바일 화면에서 푸터 스타일 수정 */
@media screen and (max-width: 768px) {
    footer {
        font-size: 15px;
        padding-right: 0; /* 우측 패딩 제거 */
        margin-right: 0; /* 우측 마진 제거 */
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .nav-divider {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .right-img {
        transform: translateX(920px);
    }
}

@media screen and (max-width: 1023px) {
    .right-img {
        transform: translateX(920px);
    }
}

@media screen and (max-width: 2360px) {
    .right-img {
        transform: translateX(800px);
        width: 200;
        height: auto;
    }
}
::-webkit-scrollbar {
    width: 0%;
}

#menu {
    display: none;
}

/* 모바일 화면에서 햄버거 메뉴 아이콘 보이기 */
@media screen and (max-width: 768px) {
    #menu {
        display: block;
    }
}

/* 모바일 화면에서 가로로 배치 */
@media screen and (max-width: 768px) {

    .left-img {
        display: inline-block;
        vertical-align: middle;
    }

    header a {
        color: hidden;
    }

    html.open {
        overflow: hidden;
    }

    #menu.open {
        left: 0px;
    }

    .page_cover.open {
        display: block;
    }
}

/* Add this CSS to your existing styles */

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #0F468C;
    margin: 6px 0;
    z-index: 120;
}

.mobile-nav {
    position: relative;
    display: none;
    z-index: 100;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .mobile-nav {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 94.8%;
        height: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .mobile-nav ul {
        padding: 0;
        list-style: none;
    }

    .mobile-nav li {
        margin: 0;
    }

    .mobile-nav a {
        text-decoration: none;
        color: #757575;
        display: block;
        padding: 10px 20px;
        width: 94.8%;
        height: 20px;
        font-weight: bold;
    }

    .mobile-nav a:hover {
        color: #fff;
        background-color: #d9d9d9;
    }

    .mobile-nav p {
        text-decoration: none;
        color: #585858;
        font-weight: bolder;
        font-size: 22px;
    }

    .mobile-nav a:hover {
        color: #048ABF;
    }

    .mobile-dropdown .submenu {
        /* 기존 스타일 */
    
        /* 트랜지션 추가 */
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
    
    .mobile-dropdown:hover .submenu {
        /* 기존 스타일 */
    
        /* 트랜지션 활성화 */
        max-height: 200px; /* 적절한 높이로 조정하세요 */
        overflow: visible;
    }
    
    .menu-container {
        text-align: center;
        max-height: 100%; /* 컨테이너의 최대 높이를 지정 (적절한 높이로 조정) */
        overflow-y: auto; /* 세로 스크롤 활성화 */
    }
    
}

        /* 추가된 스타일 */
        .modal-background {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); /* 어두운 배경 색상 및 투명도 조절 */
            z-index: 1; /* 메뉴보다 낮은 z-index 설정 */
        }