body,
h1,
h2,
h3,
ul,
li {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header,
nav,
main,
aside,
footer {
    padding: 20px;
}

header {
    background-color: #048ABF;
    color: #fff;
    text-decoration: none;
    top: 20px;
    height: 1;
    background-image: url('https://student.cnsa.hs.kr/theme/blue/stw/images/common/bg_headerWrap.png');
    background-size: cover;
    background-position: 47% top;
    display: flex;
    justify-content: space-between;
}

.img-link {
    color: inherit;
    /* 링크의 색상을 부모 요소의 색상으로 상속 */
    text-decoration: none;
    /* 밑줄 제거 */
}


.right-img {
    transform: translateX(966px);
    position: absolute;
    width: 150px;
    height: auto;
    top: 0px;
}

nav {
    background-color: #ffffff;
    height: 38px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

.blue {
    color: #0F468C;
}

nav li {
    margin: 0 50px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #424242;
    font-weight: bold;
    margin: 0 0px;
    list-style: none;
    border-radius: 5px;
    background-size: 200%;
}

.hover-text {
    margin-top: 10px;
    transition: color 0.3s;
}

.hover-text:hover {
    color: #048ABF;
}

a {
    padding: 0 .3em;
    transition: all .3s;
}

.submenu a:hover {
    color: #fff;
    background-color: #d9d9d9;
}

.dropdown {
    position: relative;
}

.submenu li {
    margin: 5px 0;
}

hr {
    margin: 10px 0;
    border-top: 0px solid #000000;
    height: 10px;
}

.nav-divider {
    width: 100%;
    height: 2.5px;
    background-color: #0F468C;
    margin: 0;
}

.container {
    display: flex;
}

main {
    flex: 2;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

main.loaded {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInParagraphs {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main h2 {
    animation: fadeInUp 1s ease forwards;
}

main.loaded p {
    opacity: 0;
    animation: fadeInParagraphs 1s ease forwards;
    animation-delay: 0.55s;
}

main h2 {
    font-size: 36px;
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 16px;
    text-align: center;
}

main p {
    font-size: 18px;
    line-height: 1.8;
    color: #585858;
    margin-bottom: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .content {
    flex: 1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    text-align: justify;
    line-height: 1.8;
    text-align: center;
    color: #444;
}

.main-container img {
    max-width: 100%;
    height: auto;
    background-color: #0481ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bold {
    color: #000000;
    font-weight: bolder;
}


main hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px auto;
    width: 50%;
}

@media screen and (max-width: 768px) {
    main h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    main p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    main hr {
        margin: 15px auto;
        width: 70%;
    }
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #9f9f9f;
    padding: 10px;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(229, 229, 229, 1);
    justify-content: center;
    display: flex;
    align-items: center;
}

footer image {
    max-height: 80px;
    margin-right: 10px;
}

footer p {
    margin: 0;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    aside {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding-right: 0;
        /* 우측 패딩 제거 */
        margin-right: 0;
        /* 우측 마진 제거 */
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    main h2 {
        font-size: 34px;
    }
}

/* 모바일 화면에서 푸터 스타일링 */
@media screen and (max-width: 768px) {
    footer {
        width: 100%;
        padding: 10px 0;
        margin: 0;
        /* 오른쪽 마진을 0으로 설정 */
        position: static;
        /* 기본 플로우에 따라 배치 */
        font-size: 10px;
        padding-right: 0;
        /* 우측 패딩 제거 */
        margin-right: 0;
        /* 우측 마진 제거 */
    }

    footer image {
        width: 76.5px;
        height: 20px;
        margin-right: 10px;
        margin-left: 0px;
    }
}

/* 모바일 화면에서 .right-img 스타일 수정 */
@media screen and (max-width: 768px) {
    .right-img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
        /* 여백 추가 */
    }
}

/* 푸터 스타일 수정 */
footer {
    text-align: center;
    background-color: #333;
    color: #9f9f9f;
    padding: 10px;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(229, 229, 229, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    max-height: 80px;
    margin-right: 10px;
}

/* 모바일 화면에서 푸터 스타일 수정 */
@media screen and (max-width: 768px) {
    footer {
        font-size: 15px;
        padding-right: 0;
        /* 우측 패딩 제거 */
        margin-right: 0;
        /* 우측 마진 제거 */
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .right-img {
        transform: translateX(946px);
    }
}

::-webkit-scrollbar {
    width: 0%;
}

#menu {
    display: none;
}

/* 모바일 화면에서 햄버거 메뉴 아이콘 보이기 */
@media screen and (max-width: 768px) {
    #menu {
        display: block;
    }
}

/* 모바일 화면에서 가로로 배치 */
@media screen and (max-width: 768px) {

    .left-img {
        display: inline-block;
        vertical-align: middle;
    }

    header a {
        color: hidden;
    }

    html.open {
        overflow: hidden;
    }

    #menu.open {
        left: 0px;
    }

    .page_cover.open {
        display: block;
    }

    .btn {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        background-image: url("http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/menu.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .close {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0px;
        top: 0px;
        background-image: url("http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    #menu {
        width: 150px;
        height: 100%;
        position: fixed;
        top: 0px;
        left: -202px;
        z-index: 10;
        border: 1px solid #c9c9c9;
        background-color: white;
        text-align: center;
        font-weight: bold;
        transition: All 0.2s ease;
        -webkit-transition: All 0.2s ease;
        -moz-transition: All 0.2s ease;
        -o-transition: All 0.2s ease;
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 40px;
    }

    #menu a {
        padding: 0;
        text-decoration: none;
        font-size: 18px;
        color: #25a4cd;
        display: block;
        transition: 0.3s;
    }

    #menu.open {
        left: 0px;
    }

    .page_cover.open {
        display: block;
    }

    .page_cover {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 4;
        display: none;
    }

    #menu ul {
        width: 190px;
        margin: 0;
        padding: 0;
    }

    #menu ul.nav li {
        position: relative;
        float: left;
        width: 100%;
        list-style-type: none;
        font-size: 18px;
    }

    #menu ul.nav li a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-indent: 20px;
        text-align: left;
        color: #25a4cd;
        font-weight: bold;
        text-decoration: none;
    }

    #menu ul.nav li a:hover {
        background: #eee;
    }

    #menu ul.nav li .sub_mobile a {
        position: relative;
        float: left;
        display: block;
        width: 100%;
        z-index: 999;
        background: #ccc;
    }

    #menu ul.nav li .sub_mobile a:hover {
        background: #787878;
        color: #fff;
        z-index: 999;
    }
}